@charset "utf-8";
html{
  font-size:62.5%;
}
body{
  font-family:"Helvetica,微软雅黑,arial";
  background-color:#f6f6f6;
  a{
    text-decoration:none;
  }
}
*{
  list-style: none;
  margin:0;
  padding:0;
}
img{
  border: none;
}
a,button{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button{
  -webkit-appearance: none;
}
//@include use*10rem(750px);
.full{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  line-height:0.32*10rem;
  font-size:0.14*10rem;
  overflow:scroll;
}
.one{
  .mlTop{
    width:100%;
    height:0.46*10rem;
    padding:0 0.5*10rem;
    box-sizing:border-box;
    position:relative;
    line-height:0.46*10rem;
    a{
      position:absolute;
      top:0;
      width:0.5*10rem;
      height:100%;
    }
    a.mlLogo{
      left:0;
      background:url("http://static.hx2cars.com/resource/web/mobpages/images/mindex/toplogo.png") center center no-repeat;
      background-size:0.3*10rem;
    }
    a.login{
      right:0;
      text-align:center;
      font-size:0.14*10rem;
      color:#666;
    }
    .gwtStation,.gwtSearch{
      float:left;
    }
    .gwtStation{
      width:20%;
      line-height:0.46*10rem;
    }
    .gwtSearch{
      width:77%;
      background-color:rgba(255,255,255,0.9);
      height:0.3*10rem;
      margin-top:0.08*10rem;
      border-radius:0.04*10rem;
      border:1px solid #eaeaea;
      line-height:0.3*10rem;
      color:#999;
      position:relative;
      i{
        position:absolute;
        top:0;
        left:0;
        width:0.5*10rem;
        height:100%;
        background:url("http://static.hx2cars.com/resource/web/mobpages/images/mindex/topsearch.png") center center no-repeat;
        background-size:0.25*10rem;
      }
    }
  }
  .box1{
    padding:0.1*10rem 0.15*10rem;
    width:100%;
    box-sizing:border-box;
    border-radius:0.15*10rem;
    background-color: transparent;
    overflow:hidden;
    a{
      width:49%;
      float:left;
      text-align:center;
      font-size:0.1*10rem;
      color:#fff;
      padding:0.14*10rem 0 0.14*10rem 0.11*10rem;
      box-sizing:border-box;
      position:relative;
      .title1,.title2{
        text-align:left;
      }
      .title1{
        font-size:0.15*10rem;
        line-height:0.2*10rem;
      }
      .title2{
        font-size:0.1*10rem;
      }
    }
    a:nth-of-type(2){
      float:right;
    }
    a.buyCar{
      background-color: #ff8450;
    }
    a.sellCar{
      background-color: #ff6d62;
    }
    a:after{
      display:block;
      content:"";
      width:0.6*10rem;
      height:100%;
      background:url("../images/icon-m1.png") center center no-repeat;
      background-size:100%;
      position:absolute;
      top:0;
      right:0;
    }
  }
}
.swiper-container{
  width:100%;
  height:2*10rem;
  img{
    width:100%;
    height:100%;
  }
}
.two{
  background-color:#292929;
  transform: translate(100%,0);
  transition:all .3s linear .2s;
  color:#fff;
}
.two_left{
  transform: translate(0,0);
}
.findCar{
  width:100%;
  height:0.49*10rem;
  line-height:0.49*10rem;
  color:#333;
  font-weight:bold;
  font-size:0.15*10rem;
  padding:0 0.2*10rem;
  box-sizing:border-box;
  text-align:left;
  position:relative;
  &:before{
    content:"";
    position:absolute;
    width:3px;
    height:0.15*10rem;
    background-color:#f60;
    top:0.17*10rem;
    left:0.15*10rem;
  }
  &:after{
    content:"";
    position:absolute;
    width:90%;
    height:1px;
    background-color:#e1e1e1;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
  }
}
.myPrice{
  width:100%;
  height:auto;
  padding:0 0.12*10rem;
  margin-top:0.18*10rem;
  box-sizing:border-box;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
  .item{
    width:21%;
    height:0.3*10rem;
    line-height:0.3*10rem;
    color:#333;
    font-size:0.13*10rem;
    border-radius:0.02*10rem;
    background-color:#ebebeb;
    margin-bottom:0.13*10rem;
  }
}
.myBrand{
  width:100%;
  margin-bottom:0.1*10rem;
  padding:0.182*10rem 0.12*10rem 0.05*10rem;
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap:wrap;
  a{
    display:block;
    width:17%;
    height:auto;
    //background-color:orange;
    margin-bottom:0.1*10rem;
    span{
      display:block;
      width:100%;
      color:#666;
      text-align:center;
      line-height:0.34*10rem;
      img{
        width:0.364*10rem;
        height:auto;
      }
    }
  }
}
.carTypes{
  a{
    span{
      line-height:0.3*10rem;
    }
  }
}
.hotCity{
  .item{
    width:17%;
  }
}
.gwtBtn{
  width:100%;
  padding:0.18*10rem 0.145*10rem 0.08*10rem;
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  a{
    width:45%;
    height:0.485*10rem;
    text-align:center;
    line-height:0.485*10rem;
    border:1px solid #f60;
    font-size:0.13*10rem;
    color:#f60;
    font-weight:bold;
  }

}
.one{
  .mFourcar{
    width:100%;
    .mTitle{
      width:100%;
      height:4.9rem;
      background-color:#fff;
      box-shadow:0 2px 3px #eee;
      border-bottom:1px solid #ffe9da;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      line-height:4.9rem;
      .item{
        width:25%;
        height:100%;
        span{
          display:inline-block;
          height:100%;
        }
      }
      .active{
        color:#f60;
        font-weight:bold;
        span{
          border-bottom:1px solid #f60;
        }
      }
    }
    .mCarList{
      width:100%;
      padding:0 1rem;
      margin-top:0.8rem;
      box-sizing:border-box;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap:wrap;
      .item{
        width:49%;
        height:auto;
        margin-bottom:0.8rem;
        display:none;
        background-color:#fff;
        box-shadow:2px 2px 5px rgba(0,0,0,.3);
        img{
          width:100%;
        }
        h1{
          width: 100%;
          padding: 0 1rem;
          font-size: 1.3rem;
          color: #333;
          line-height: 1.7rem;
          height: 3.4rem;
          overflow: hidden;
          margin: 1rem 0 1rem 0;
          box-sizing:border-box;
        }
      }
      &.active .item{
        display:block;
      }
    }
  }
  .buyCarTitle{
    background-color: #fff;
  }
  .buyCarbaike{
    background-color:#fff;
    .content{
      width:100%;
      border-bottom:1px solid #e1e1e1;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom:1rem;
      &:last-of-type{
        border-bottom:0;
      }
      .item1{
        width:35%;
        img{
          width:100%;
        }
      }
      .item2{
        width:60%;
        text-align:left;
        h2{
          font-size:1.36rem;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p{
          font-size:1.1rem;
          line-height:1.5rem;
          color:#666;
        }
      }
    }
  }
}